page {
	background-image: url('https://p2.music.126.net/N2R1TIL0IzCmGj5QPfudrA==/109951165166418532.jpg');
	width: 100%;
	// height: 100%;
	// -webkit-filter: blur(25px);
	// filter: blur(25px);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	// -webkit-transform: scale(1.2);
	// transform: scale(1.2);

	.play-song {
		position: fixed;
		top: calc(44px + env(safe-area-inset-top));;
		bottom: 0;
		right: 0;
		left: 0;
		// position: absolute;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
.sing-top{
	
	display: flex;
	flex-direction: column;
	height: 500rpx;
	align-items: center;
	justify-content: center;
	&-name{
		color: #fff;font-size: 30rpx;
		margin-top: 20rpx;
		
		
		

	}
}
		.img-box {
		
		margin-top: 20rpx;
			&.stoped {
				animation-play-state: paused;
			}

			animation: rotate 12s linear .1s infinite;

			// top: 150rpx;
			// left: 100rpx;
			width: 400rpx;
			height: 400rpx;
			border-radius: 50%;
			// left: 50%;

			// transform: translateX(-50%);
			background-color: rgba(255, 255, 255, 0.1);
			display: flex;
			align-items: center;
			justify-content: center;

			.circle {
				width: 86%;
				height: 86%;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.3);
				display: flex;
				align-items: center;
				justify-content: center;

				.img {
					width: 80%;
					height: 80%;
					border-radius: 50%;
				}
			}
		}

		.lyric-box {
			// position: absolute;
			// top: 500rpx;
			 // overflow: hidden;
			width: 100%;
			
			-webkit-mask-image: linear-gradient(to bottom,
				rgba(255, 255, 255, 0) 0,
				rgba(255, 255, 255, .6) 15%,
				rgba(255, 255, 255, 1) 25%,
				rgba(255, 255, 255, 1) 75%,
				rgba(255, 255, 255, .6) 85%,
				rgba(255, 255, 255, 0) 100%);
			height: 420rpx;

			.ullrc {
				transition: 0.3s;

				.ric {
					text-align: center;
					color: #F1F1F1;
					font-size: 30rpx;
					opacity: 0.8;
					height: 50rpx;
					
   transition: 0.3s;

					&.cur {
						font-size:  30rpx;
						opacity: 1;
						color: #8dc63f;
					}
				}
			}

		}
.bottom-control{
	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
height: 250rpx;
display: flex;
flex-direction: column;
align-items: center;
}
		.btn-box,
		.btn-groups,
		.slider-bar {
			display: flex;
			// position: absolute;
			width: 100%;
			color: #F1F1F1;
		}

		.btn-box {
			top: 640rpx;
			width: 80%;

			.flex-item {
				flex: 1;
				text-align: center;
				font-size: 36rpx;

				.iconfont {
					font-size: 36rpx;
				}
			}

		}

		.slider-bar {
			width:80%;
			top: 680rpx;
			align-items: center;

			.line {
				flex: 1;
			}

			.time {
				height: 28rpx;
				line-height: 28rpx;
				font-size: 28rpx;
				min-width: 66rpx;
			}

			.line {
				margin: 20rpx 10rpx;
			}

			
		}

		.btn-groups {
			width: 80%;
			top: 746rpx;

			font-size: 36rpx;

			.flex-item {
				text-align: center;
			}

			.iconfont {
				font-size: 36rpx;
			}

			.play-btn {
				position: relative;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					border: 2rpx solid #F1F1F1;
					width: 70rpx;
					height: 70rpx;
					border-radius: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
		.poplist-box{
			width: 100%;
			
			background-color: #fff;
			position: fixed;
			bottom: 0;
		left: 0;
		
			z-index: 99;
			background-color: #F0F0F0;
			 border-radius: 5% 5% 0 0;
			 padding: 20rpx 18rpx;
			 .poplist-title{
				 display: flex;
				 align-items: center;
				 justify-content: space-between;
			 }
			 .poplist-list{
				 width: 100%;
				 height:800rpx;
				 padding: 20rpx 0;
				 	 overflow-y: scroll;
				 .remen-item {
				 	position: relative;
				 	display: flex;
				 	align-items: center;
				 	margin-bottom: 30rpx;
				
				 	.avatar {
				 		width: 80rpx;
				 		height: 80rpx;
				 		position: absolute;
				 		left: 0;
				 		border-radius: 10rpx;
				 	}
				 .song-name{
					 font-size: 24rpx;overflow:hidden;
					 text-overflow:ellipsis; 
					 white-space:nowrap;
					 transform: scale(.9);
				 }
				 .song-desc{
					 font-size: 20rpx;display: flex;overflow:hidden;
					 text-overflow:ellipsis; 
					 white-space:nowrap;
					  transform: scale(.9);
				 }

				 }
			 }
			
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}
